@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "_Layout";
}

<section class="page-title mvb0" data-bg-image="/images/pages/cover1.jpg" style="background-image: url(/images/pages/cover1.jpg);">

    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <h1>Who We Are</h1>
                <ol class="breadcrumb">
                    <li><a href="javascript:;">Home</a></li>
                    <li>About Us</li>
                </ol>
            </div>
        </div>
    </div>

</section>

<section class="section-content">

    @Html.Partial("../Partials/AboutUs.cshtml")
    @Html.Partial("../Partials/OurChefs.cshtml")
    @Html.Partial("../Partials/Testimotional.cshtml")
    @Html.Partial("../Partials/OurRecipes.cshtml")
    @Html.Partial("../Partials/Partners.cshtml")

</section>
